@import "../styles/variables.module.scss";
.footer {
    background-color: var(--Blue);
    padding: 36px 16px;
    @media screen and (min-width: $tablet) {
        padding: 36px 40px;
    }
    @media screen and (min-width: $desktop) {
        padding: 32px initial;
    }
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: $desktop) {
        width: 80%;
        max-width: 75rem;
        margin: auto;
    }
}
