:root {
    --lightblue: hsla(234, 25%, 52%, 1);
    --blue: hsla(234, 54%, 16%, 1);
    --grey: hsla(233, 10%, 56%, 1);
    --pink: hsla(341, 92%, 62%, 1);
    --lightpink: hsla(341, 100%, 83%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --lg1-start: hsla(13, 100%, 64%, 1);
    --lg2-start: hsla(237, 100%, 64%, 1);
    --lg-end: hsla(322, 87%, 55%, 1);
}
