@import "./variables.module.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Typography*/

@font-face {
    font-family: "plusjakarta";
    src: url("../public/fonts/PlusJakartaSans-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "plusjakarta";
    src: url("../public/fonts/PlusJakartaSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "plusjakarta";
    src: url("../public/fonts/PlusJakartaSans-Medium.ttf");
    font-weight: 500;
}

/*Colors*/
:root {
    --LightBlue: hsla(234, 25%, 52%, 1);
    --Blue: hsla(234, 54%, 16%, 1);
    --Grey: hsla(233, 10%, 56%, 1);
    --Pink: hsla(341, 92%, 62%, 1);
    --LightPink: hsla(341, 100%, 83%, 1);
    --White: hsla(0, 0%, 100%, 1);
    --Lg1Start: hsla(13, 100%, 64%, 1);
    --Lg2Start: hsla(237, 100%, 64%, 1);
    --LgEnd: hsla(322, 87%, 55%, 1);
}

html {
    font-size: 16px;
}
body {
    font-family: "plusjakarta";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--Grey);
    @media screen and (min-width: $desktop) {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

h1,
h2,
h3,
h4 {
    font-family: "plusjakarta";
    font-weight: 800;
    color: var(--Blue);
}

h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    @media screen and (min-width: $desktop) {
        font-size: 3.5rem;
        line-height: 4.375rem;
    }
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--White);
    @media screen and (min-width: $desktop) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
h3 {
    font-size: 1.25rem;
    line-height: 1.56rem;
    @media screen and (min-width: $desktop) {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}
